fastapi>=0.95.0
uvicorn[standard]>=0.20.0
requests>=2.31.0
pyinstaller>=5.10.1
python-multipart>=0.0.6
pydantic>=1.10.7
psutil>=5.9.0
py7zr>=0.20.0
rarfile>=4.0
tzdata>=2023.3
pylocres>=0.1.0
bbcode>=1.1.0
pycryptodome==3.23.0
Pillow>=10.0.0
